<!doctype html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css' />
	<script type="text/javascript" src = "{{ url_for('static', filename='js/script.js') }}"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <header class="header">
		<div class="header-limiter">
			<h1><a href="{{ url_for('index') }}">Tech<span>Meet</span></a></h1>
			<nav>
				<a href="{{ url_for('index') }}" class="selected">Home</a>
				<a href="{{ url_for('articles') }}">Articles</a>
				<a href="{{ url_for('topics') }}">Topics</a>
				<a href="{{ url_for('visuals') }}">Visuals</a>
			</nav>
		</div>
	</header>
   
      <h1>Index</h1>
      
</body>
</html>